{% extends 'base.html.twig' %}

{% block title %}Bovinos Menu{% endblock %}

{% block body %}
    <h1>Bovinos Cadastrados</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Leite Litros</th>
                <th>Racao KG</th>
                <th>Peso Arrobas</th>
                <th>Nascimento</th>
                <th>Abatimento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for bovino in data.bovinos %}
            <tr>
                <td>{{ bovino.id }}</td>
                <td>{{ bovino.codigo }}</td>
                <td>{{ bovino.leite }}</td>
                <td>{{ bovino.racao }}</td>
                <td>{{ bovino.peso }}</td>
                <td>{{ bovino.dataNascimento ? bovino.dataNascimento|date('Y-m-d') : '' }}</td>
                <td>{{ bovino.dataAbatimento ? bovino.dataAbatimento|date('Y-m-d') : '' }}</td>
                <td>
                   <a  type="button" class="btn btn-info" href="{{ path('app_bovinos_show', {'id': bovino.id}) }}">Liste-o</a>
                    <a  type="button" class="btn btn-info" href="{{ path('app_bovinos_edit', {'id': bovino.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type="button" class="btn btn-success" href="{{ path('app_bovinos_new') }}">Cadastre seu gado !</a>
{% endblock %}
